.App {
  text-align: center;
  margin-top: 50px;
}

.bar {
  background-color: #333;
  color: white;
  overflow: auto;
}

button {
  background-color: #555;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}
